.header-page {
  
  
  border-bottom: 2px solid white;
  margin-bottom: 10px;

  .contenedor-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: auto;
    max-width: 1440px;
    font-size: 22px;

    .titulo {
      width:100%;
    }

    .intentos{
      width: 100%;
      margin-right: 10px;
      display: flex;
      justify-content: space-around;
    }
    button{
      background-color: #00FFFF;
      padding: 5px;
      color:black;
      outline: none;
      border-radius: 5px;
      font-weight: bold;
    }
  }

  @media only screen and (max-width: 1440px) {
    .contenedor-header {
      height: 50px;
      padding: 0 20px;
      max-width: 1200px;
      font-size: 18px;
    } 
  }

  @media only screen and (max-width: 700px) {
    .contenedor-header{
      padding: 0 5px;  
      font-size: 16px;    
    }  
  }

  @media only screen and (max-width: 425px) {

    .contenedor-header{
      height: unset;
      flex-direction: column;
      .titulo{
        padding:10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .intentos{
        align-items: center;
        height: 100%;
      }
    }
  }
}