header {
  
  border-bottom: 2px solid white;
  margin-bottom: 20px;

  .contenedor-header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: auto;
    max-width: 1440px;
    font-size: 26px;

    .titulo {
      width:100%;
      font-size: 32px;
    }

    .intentos{
      width: 100%;
      margin-right: 10px;
      display: flex;
      justify-content: space-around;
    }
    button{
      background-color: #00FFFF;
      padding: 5px;
      color:black;
      outline: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 1440px) {
    .contenedor-header {
      height: 50px;
      padding: 0 20px;
      max-width: 1200px;
      font-size: 20px;
      .titulo {
        font-size: 28px;
      }
      button{
        font-size: 20px;
      }
    } 
  }

  @media only screen and (max-width: 700px) {
    .contenedor-header{
      padding: 0 5px;  
      font-size: 16px;    
      .titulo{
        font-size: 20px;
      }
      button{
        font-size: 16px;
      }
    }  
  }

  @media only screen and (max-width: 425px) {

      .contenedor-header{
        height: 75px;
        flex-direction: column;
        .titulo{
          height: 100%;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .intentos{
          align-items: center;
          height: 100%;
        }
      }
  }
}